PyYAML>=6.0
accelerate>=1.0.0
hf_transfer>=0.1.8
huggingface_hub[cli]>=0.31.0
onnx>=1.17.0
onnxconverter-common>=1.14.0
onnxruntime-gpu>=1.20.0
safetensors>=0.4.3
sentencepiece>=0.2.0
transformers>=4.57.0
